@charset "UTF-8";

/*#div1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#p1{
    font-size: 40px;
    margin-top: 0;
    margin-left: 2.5rem;
    margin-bottom: 0;
}*/

#condition{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
    margin-top: 1.8rem;
    margin-left: 4rem;
    height: 2rem;
}

#cdn{
    display: flex;
}

input[type=checkbox]{
    transform: scale(2);
    margin-right: 1rem;
    cursor: pointer;
}

#p2{
    font-size: 28px;
}

#value{
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: 7rem;
}

#wrt1, #wrt2{
    height: 30px;
    width: 6rem;
    font-size: 100%;
    margin-top: 0.8rem;
}

#resetBtn{
    height: 35px;
    margin-top: 2rem;
    width: 6rem;
    cursor: pointer;
}

#div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 4.5rem;
}

#div2 p{
    font-size: 30px;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

#num{
    padding-bottom: 0;
    width: 10rem;
    height: 45px;
    margin-top: 1.5rem;
    font-size: 30px;
    margin-bottom: 0;
}

#div3{
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

#text{
    width: 65%;
    height: 25rem;
    font-size: 25px;
}